
.header {
	background-color: lightgray;
	display: flex;
	padding: 25px;
	font-size: 30px;
	margin: 20px;
	line-height: 2px;
	width: 94.5%;
	height: 20%;
	position: fixed;
	top: 0px;
	background-image: url(https://css1.www.cntower.ca/site_Files/Content/IMG/2020/1024x380.jpg);
	-webkit-background-size: cover; 
	background-position: center center;
}

.information {
	padding-left: 20px;
	margin-left: 25px;
	background-color: whitesmoke;
	height: 180px;
	width: 700px;
	border-radius: 25px;
}

.socials-button {
	border-radius: 100%;
	height: 45px;
	width: 45px;
}

.socials-container:hover {
	background-color: darkgray;
	height: 45px;
	width: 45px;
	border-radius: 50%;
}

.socials-container {
	margin-top: 5px;
	margin-left: 5px;
	height: 45px;
	width: 45px;
	display: inline-block;
}

.about-me {
	margin-top: 300px;
	margin-left: 50px;
	font-size: 25px;
	width: 1800px;
	height: 275px;
	display: flex;
}

.about-me-title {
	background-color: lightgray;
	width: 200px;
	height: 200px;
	margin-left: 25px;
}

.about-me-paragraph {
	margin-left: 75px;
	width: 1200px;
	height: 250px;
	line-height: 50px;
	background-color: lightgray;
}

.about-me-picture {
	margin-left: 25px;
	width: 250px;
	height: 250px;
	background-color: lightgray;
	overflow: hidden;
}

.projects {
	margin-top: 0px;
	width: 1800px;
	height: 350px;
	margin-left: 50px;
	display: flex;
}

.projects-title {
	background-color: lightgray;
	width: 200px;
	height: 200px;
	margin-left: 25px;
}

.projects-showcase {
	margin-left: 75px;
	width: 1475px;
	height: 500px;
	background-color: lightgray;
}

.pomodoro-timer {
	font-size: 25px;
	background-color: darkgray;
	margin: 50px;
	width: 1375px;
	height: 400px;
}

.technical-skills {
	margin-top: 175px;
	margin-left: 75px;
	font-size: 25px;
	width: 1750px;
	height: 525px;
	display: flex;
}

.technical-skills-showcase {
	width: 1500px;
	height: 480px;
	margin-left: 25px;
	background-color: lightgray;
	font-size: 35px;
	padding: 20px;
}

.technical-skills-container {
	width:96%;
	margin-left: 25px;
	background-color: darkgray;
}

.java {
	width: 80%; background-color: #04AA6D;
}

.python {
	width: 65%; background-color: #2196F3;
}

.js {
	width: 50%; background-color: #f44336;
}

.contact-me {
	margin-top: 25px;
	margin-left: 75px;
	font-size: 25px;
	width: 93%;
	height: 100%;
	display: flex;
}

.contact-me-container {
	margin-left: 25px;
	width: 100%;
	height: 90%;
	background-color: lightgray;
}

.contact-me-info {
	margin-top: 50px;
	margin-left: 70px;
	width: 90%;
	height: 40%;
	background-color: darkgray;
}

#description {
	line-height: 0px;
}